body{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
    top: 33px;
    color: rgb(243, 241, 248);
    background-color: black;
    width: 170px;
    height: 60px;
    font-weight: 200;
    font-size: 29px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    }
    
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #4822ff;
}
#rept{
    width: 330px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: xx-large;
    color: rgb(103, 216, 231);
    background-color: gray;
    
}
#faux{
    position: relative;
    left: 206px;
    top: 103px;
    font-weight: 600;
    font-size: 50px;
}
#vrai{
    position: relative;
    right: 22px;
    top: 42px;
    font-weight: 600;
    font-size: 50px;
}
.para{
    position: relative;
    bottom: -77px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 45px;
}
#faux{
    color: red;
}
#vrai{
    color: green;
}
